.main{
    color:#666;
}
       /* 顶部通栏*/      
.top {
        width: 100%;
        height: 1rem;
        line-height:1rem;
        position: fixed;
        top:0;
        padding: 0 0.8rem;
        color:white;
        background-color:#d88538;
        z-index:1;
        font-size:.3rem;
        font-weight:bold; 
    }

.top .left,
.top .right {
        position: absolute;
        top: 0;
    }

.top .left {
    width: .5rem;
    position: absolute;
    left: .2rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: .5rem;
    }

.top .right {
        right: .2rem;
    }

    /* 内容主体 */
    #banner {
        width: 100%;
        padding: 20px 0px;
        box-sizing: border-box;
        font-size:.4rem;
        color:#999;
        background-color: #eaeef4;
        margin-top:1rem;
    }

    /* 头像 */
.headPortrait{
        position: relative;
        height:2rem;
        background-color: white;
        border-bottom: 1px solid #ccc;
    }
.headPortrait i{
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        border: 1px solid #ccc;
        border-radius:50%;
    }
.headPortrait i img{
        width: 100%;
        height: 100%;
        border-radius:50%;
    }
.headPortrait .camera{
        width:1.5rem;
        height: 1.5rem;
        display:none;
    } 
/*中间*/
.midInfo,.botmInfo{
    margin-top:20px;
    background-color: white;
    padding:0px 20px;
    overflow: hidden;
}
.birthday>div,
.nickName>div,
.sex>div,
.fullName>div,
.tel>div,
.email>div,
.QQ>div,
.weibo>div{
    border-bottom: 1px solid #ccc; 
     height: 2rem;
    line-height: 2rem; 
}
.botmInfo p{
    border-bottom: 1px dashed #ccc; 
}
.midInfo label{
    vertical-align: top;
}
.nickName input,.birthday input,.botmInfo input{
    width: 60%;
    height: .6rem;
    background:none;  
    height:100%;  
    outline:none;    
    border:0px;
}
/* 城市 */
.city{
    margin-top:20px;
    height: 2rem;
    background-color: white;
    padding:10px 20px;
}
.city>div{
    margin-top:.1rem;
}
.city select{
    width:30%;
    background-color:white;
    height: 1rem;;
    border-radius: .2rem;
}
button.save{
    margin-top:20px;
}
